.DS_Store
/tmp
/vendor
/cache

/bin/*
!/bin/bump-version

/tests/_output/*
/tests/_support/_generated
/nbproject/*

/c3.php

/config/settings.local.yml
/config/settings.*.local.yml
/config/local/

/www/bower_components
